asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
clickhouse-driver
colorama==0.4.6
Django==5.0.6
django-cors-headers==4.3.1
djangorestframework==3.15.1
faker==25.2.0
idna==3.7
lxml==5.2.2
lz4==4.3.3
numpy==1.26.4
pandas==2.2.2
pocketbase
pyarrow==16.1.0
PyJWT
python-dateutil==2.9.0.post0
pytz==2024.1
reportlab==4.2.0
requests==2.31.0
six==1.16.0
sqlparse==0.5.0
tzdata==2024.1
urllib3==2.2.1
zstandard==0.22.0
django-storages[boto3]==1.14.4

scikit-learn
scipy
